{
  "scope": "https://www.pulumi.com:443",
  "method": "GET",
  "path": "/latest-version",
  "body": "",
  "status": 200,
  "response": "3.1.0",
  "rawHeaders": [
    "Content-Type",
    "text/plain",
    "5",
    "close",
    "Last-Modified",
    "Sat, 24 Apr 2021 19:06:05 GMT",
    "AmazonS3",
    "DENY",
    "Mon, 26 Apr 2021 12:06:03 GMT",
    "ETag",
    "\"232de5556d4148d75b55012e1230616c\"",
    "RefreshHit from cloudfront",
    "1.1 432d52d55ad517cddd9081b248b2f116.cloudfront.net (CloudFront)",
    "ARN54-C1",
    "Xx-p0OnkpwQq3y5UI05EjGxUNm1lzQfvaW-DBA6Zah1A-hojsxC73A=="
  ],
  "responseIsBinary": false
}